In [1]:
import random
import gzip
import pickle


import numpy as np
import pandas as pd
from surprise import Reader
from surprise import Dataset
from surprise.model_selection import train_test_split
from surprise import KNNBasic
from surprise import accuracy

In [2]:
f = gzip.open('3.Model_User_User.pklz', 'rb')
Model_UU = pickle.load(f)
#result = Model_UU.predict(8, 2843)
f.close()

In [7]:
with open('1.Ratings_Normalizacion_Log.pkl', 'rb') as f:
    mat = pickle.load(f)
mat

        user_id  artname  rating_lineal
0             0        0       1.000000
1             1        1       1.000000
2             2        2       1.000000
3             3        3       1.493371
4             3        4       1.000000
...         ...      ...            ...
897416      854   173918       1.000000
897417      854   173919       1.589577
897418      854   173920       1.000000
897419      251   173921       1.000000
897420      297   173922       2.628651

[897421 rows x 3 columns]

In [8]:
Model_UU.get_neighbors(0, 4)

[491, 441, 373, 702]